{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": ["react", "jsx-a11y", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": "warn",
    "no-console": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": ["off"],
  }
}
